# dependencies
node_modules/

# production
build/
dist/

# Vite cache
.vite/

# IDE
.vscode/
.idea/

# Logs
*.log

# Env files
.env
.env.local
.env.*.local

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini